trustchain/tex/main.aux
trustchain/tex/main.bbl
trustchain/tex/main.bcf
trustchain/tex/main.blg
trustchain/tex/main.log
trustchain/tex/main.out
trustchain/tex/main.pdf
trustchain/tex/main.run.xml
trustchain/tex/main.toc
